{% extends 'base.html.twig' %}
{% block title %}Liste des groupe{% endblock %}
{% block body %}
  <h2>Groupes</h2>
  
  <table class="table">
    
    <tbody>
      affichage du nombre de groupes 
        
          
            <td>{{ nb }}</td>
            
        
      
    </tbody>
  </table>
{% endblock %}