{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block body %}
    <h1>Planning hebdomadaire</h1>
    <div id="calendar"></div>
    <button id="generate" class="btn btn-primary mt-3">Générer automatiquement</button>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {# Tu n'as pas besoin d'ajouter manuellement les CSS, c'est dans app.js grâce à webpack encore #}
{% endblock %}
