{# templates/planning/calendar.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Planning - Calendrier{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Planning</h1>
        <div id="calendar"></div>
        <button id="generate" class="btn btn-primary mt-3">Générer automatiquement</button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
