{% extends 'base.html.twig' %}
{% block title %}Nouveau planning{% endblock %}
{% block body %}
  <h2>Créer un planning</h2>
  {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Enregistrer</button>
  {{ form_end(form) }}
{% endblock %}